---
// Componenti
import AccomodationCard from "./AccomodationCard.astro"

// import database
import { getAccomodationsByCountry, getAccomodationsByCity, getAllAccomodations } from "../db/dbAccomodations.js"

// Store
import { $searchCriteria } from "../store/store"

// Funzioni
function average(array: number[]) {
  let sum = 0
  array.forEach(e => {
    sum += e
  });
  return (sum / array.length).toFixed(1)
}

// Recupera dati lato server

interface Accomodation {
  id: string;
  name: string;
  pricePerNight: number;
  images: string[];
  ratings: number[];
  city: string;
  country: string;
}

// TODO: CONVERTIRE QUESTO COMPONENTE "Main" IN UN COMPONENTE REACT PER RENDERE IL CARICAMENTO DEGLI ALLOGGI DINAMICO
// --> IL ROUTING CON REACT POTREBBE CAMBIARE E GENERARE PROBLEMI

// Recupera tutti gli alloggi
let accomodations = await getAllAccomodations() as Accomodation[]

---
<div id="accomodations">
  {accomodations && accomodations.map(acc => (
    <a href={`/accomodations/${acc.id}`} class="accomodation-link">
      <AccomodationCard
        image={`/accomodations/${acc.images[0]}`}
        name={acc.name}
        rating={average(acc.ratings)}
        price={acc.pricePerNight}
        city={acc.city}
        country={acc.country}
      />
    </a>
  ))}
</div>


<style>
  div#accomodations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 24px;
    gap: 16px;
  }
  a.accomodation-link {
    text-decoration: none;
    color: black;
  }
</style>